:root {
	--accent: #000;
	--bg-color: #550505;
	--text-color: #333;

	--dd-bg: #FFF;
	--dd-hover: #AAA;
}

body {
	color: var(--text-color);
	background-color: var(--bg-color);
	text-align: left;
	font-size: 19pt;

	font-family: Palatino Linotype;
	font-weight: normal;

	margin: 0;
}

h1 {
	color: var(--text-color);
}

#content {
	visibility: hidden;

	position: absolute;
	width: 100%;
	min-height: 100vh;
	background-color: #000;

	left: 0;
	top: 0;

	text-align: center;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	overflow: hidden;
}

.item {
	background-color: var(--dd-bg);

	width: 600px;

	padding: 10px 0;
	margin: 10 auto;

	cursor: pointer;

	border-radius: 10px;

	transition: background-color 0.2s;
}

.item:hover {
	background-color: var(--dd-hover);
}

@media (orientation: portrait) {
	body {
		font-size: 4em;
	}
}