body {
	margin: 0;
	background-color: black;
}

a {
	color: #FF0;
	text-decoration: none;
	-webkit-transition: letter-spacing 0.5s;
}

a:hover {
	letter-spacing: 2px;
}

.key {
	color: #EB0;
}

.centered {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
}

.border {
	position: relative;

	background-color: #333;
	color: #FFF;
	padding: 18px;
	font-size: 25pt;
	letter-spacing: 10px;

	border-radius: 0 25px;

	width: 100%;
	font-family: Impact;

	opacity: 0.9;
}

.text {
	background-color: #222;
	color: #888;

	padding: 25px 30px;
	text-align: left;
	
	font-size: 16pt;
	font-family: Courier New;
}

.bgimg {
	position: relative;
	opacity: 0.5;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	cursor: default;
}

.bgimg-1 {
	background-image: url("Lights2.jpg");
	min-height: 100%; 
}

.bgimg-2 {
	background-image: url("Fire.jpg");
	min-height: 400px; 
}