* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;

	padding-top: 20px;
	margin: 0;
}

table {
	margin: 2px auto;
	padding: 0;

	border-collapse: collapse;
}

td {
	text-align: center;
	font-size: 4em;

	cursor: pointer;
	user-select: none;
	border-collapse: collapse;
	border-left: 2px solid black;
}

#possibleAnswers {
	margin: 2px auto;
	padding: 10px;

	width: 70%;
	min-height: 5%;
	max-height: 200px;

	overflow-y: auto;
}

.toggleOff {
	display: inline-block;
	width: 0px;
	height: 0px;

	border: 5px solid transparent;
	border-left: 5px solid white;

	cursor: pointer;
	user-select: none;
}

.toggleOn {
	display: inline-block;
	width: 0px;
	height: 0px;

	border: 5px solid transparent;
	border-top: 5px solid white;

	cursor: pointer;
	user-select: none;
}

.special {
	font-size: 0.8em;
	font-style: italic;

	cursor: pointer;
	user-select: none;
}

#answers {
	display: none;
}

.green {
	background-color: #538d4e;
}

.yellow {
	background-color: #b59f3b;
}

.grey {
	background-color: #3a3a3c;
}

@media (orientation: landscape) {
	table {
		width: 30vw;
		height: 6vw;
	}

	td {
		min-width:  6vw;
		min-height: 6vw;
	}
}

@media (orientation: portrait) {
	table {
		width: 80vw;
		height: 16vw;
	}

	td {
		min-width:  16vw;
		min-height: 16vw;
	}

	#possibleAnswers {
		width: 100%;
	}

	* {
		font-size: 1.2em;
	}
}