body {
	background-color: #F32;
	margin: 0;
	overflow: hidden;

	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
}

#ball {
	position: absolute;
	width: 12px;
	height: 12px;

	background-color: #FFF;
}

#paddle {
	position: absolute;
	width: 80px;
	height: 10px;

	background-color: transparent;
	border: 2px solid #FFF;
}

#fill {
	width: 100%;
	height: 100%;
	color: #FFF;
	font-size: 30vw;
	text-align: center;
}

.block {
	position: absolute;

	width: 4px;
	height: 4px;

	background-color: #FFF;
}

p {
	color: #FFF;
	font-family: impact;
	font-size: 16pt;
}

#startButton {
	width: 200px;
	height: 50px;

	background-color: transparent;
	border: 2px solid #FFF;
	font-size: 25pt;
	color: #FFF;

	outline: none;

	cursor: pointer;

	position: absolute;
	left: 50%;
	top: 45%;
	
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

#startButton:hover {
	color: rgba(255,255,255,0.5);
	border-color: rgba(255,255,255,0.5);
}